Repository KinsonDigital/CASL, pull requests merged in 2022-08, with the labels that each got.

#91 Add/Update issue and PR templates
  .github/ISSUE_TEMPLATE/bug-issue-template.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature-request-issue-template.yml
  .github/ISSUE_TEMPLATE/project-item-issue-template.yml
  .github/ISSUE_TEMPLATE/qa-testing-template.yml
  .github/ISSUE_TEMPLATE/release-todo-issue-template.yml
  .github/ISSUE_TEMPLATE/research-issue-template.yml
  .github/PULL_REQUEST_TEMPLATE/feature-pr-template.md
  .github/PULL_REQUEST_TEMPLATE/feature-to-develop.md
  .github/PULL_REQUEST_TEMPLATE/preview-feature-pr-template.md
  .github/PULL_REQUEST_TEMPLATE/preview-release-pr-template.md
  .github/PULL_REQUEST_TEMPLATE/preview-to-release.md
  .github/PULL_REQUEST_TEMPLATE/production-release-pr-template.md
  .github/PULL_REQUEST_TEMPLATE/release-to-master.md
Labels: good first issue, tech debt, high priority, preview, 📝documentation/product

#92 Update Code of Conduct
  code_of_conduct.md
Labels: good first issue, medium priority, preview, 📝documentation/product

#95 Fix release todo issue template
  .github/ISSUE_TEMPLATE/release-todo-issue-template.yml
Labels: good first issue, tech debt, high priority, preview, 📝documentation/product

#94 Add release note templates
  Documentation/ReleaseNotes/Preview-Release-Notes-TEMPLATE.md
  Documentation/ReleaseNotes/PreviewReleases/Release-Notes-v1.0.0-preview.11.md
  Documentation/ReleaseNotes/Production-Release-Notes-TEMPLATE.md
Labels: good first issue, medium priority, preview, 📝documentation/product

#90 Update Readme file
  README.md
Labels: good first issue, medium priority, preview, 📝documentation/product

#97 Update branching docs
  Documentation/Branching.md
  Documentation/Images/BranchingDiagram-DarkMode-v1.1.png
  Documentation/Images/BranchingDiagram-LightMode-v1.1.png
  Documentation/Images/git-branching-diagram.jpg
Labels: good first issue, high priority, preview, 📝documentation/product

#99 Update release todo template
  .github/ISSUE_TEMPLATE/release-todo-issue-template.yml
Labels: good first issue, high priority, preview, 📝documentation/product

#101 Remove issue and pr templates
  .github/ISSUE_TEMPLATE/bug-issue-template.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature-request-issue-template.yml
  .github/ISSUE_TEMPLATE/project-item-issue-template.yml
  .github/ISSUE_TEMPLATE/qa-testing-template.yml
  .github/ISSUE_TEMPLATE/release-todo-issue-template.yml
  .github/ISSUE_TEMPLATE/research-issue-template.yml
  .github/PULL_REQUEST_TEMPLATE/feature-pr-template.md
  .github/PULL_REQUEST_TEMPLATE/preview-feature-pr-template.md
  .github/PULL_REQUEST_TEMPLATE/preview-release-pr-template.md
  .github/PULL_REQUEST_TEMPLATE/production-release-pr-template.md
Labels: high priority, preview, 📝documentation/product
